/* WIDE USE */
.cover-img {
  object-fit: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.desktop-img {
  display: none;
}

/* NAVBAR */
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem var(--container);
}

.navbar .logo {
  z-index: 101;
}

label[for='nav-toggle'] {
  z-index: 101;
}

input[name='nav-toggle'] {
  display: none;
}

.nav-menu {
  display: none;
}

input[name='nav-toggle']:checked ~ .nav-menu {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 6rem 0 3rem 0;
}

.navbar nav li {
  font-size: var(--font-lg);
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.navbar nav li:not(:last-child) {
  margin-bottom: 2rem;
  color: var(--light);
  text-transform: capitalize;
}

.navbar nav .cta {
  font-family: var(--ff-title);
  color: var(--dark);
  text-transform: uppercase;
  background-color: var(--light);
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
}

/* BANNER */
.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__image {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner__content {
  padding: 8rem 2rem;
}

.banner__content h1 {
  font-size: var(--font-xl);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--light);
  margin-bottom: 2rem;
}

.banner__content img {
  width: 2rem;
  margin: 0 auto;
}

/* ABOUT */
.feature {
  background-color: var(--light);
}

.feature__image {
  position: relative;
  min-height: 20rem;
}

.feature__content {
  padding: 3rem var(--container);
  text-align: center;
}

.feature__content h2 {
  font-size: var(--font-xl);
  color: var(--dark);
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.feature__content p {
  font-size: var(--font-lg);
  color: var(--gray);
  margin-bottom: 2rem;
}

.feature__content a {
  font-size: var(--font-base);
  font-family: var(--ff-title);
  text-transform: uppercase;
  color: var(--dark);
  font-weight: 900;
  letter-spacing: 0.05rem;
  position: relative;
  z-index: 0;
}

.feature__content a::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -2px;
  height: 0.5rem;
  width: 110%;
  transform: translateX(-5%);
  border-radius: 50px;
}

.feature__content a.yellow::before {
  background-color: var(--yellow-300);
}

.feature__content a.red::before {
  background-color: var(--red-300);
}

/* SERVICES */
.service {
  position: relative;
  min-height: 35rem;
}

.service__image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.service__content {
  position: absolute;
  left: 0;
  bottom: 3rem;
  padding: 0 var(--container);
  text-align: center;
}

.service__content.green {
  color: var(--green-900);
}
.service__content.blue {
  color: var(--blue-900);
}

.service__content h3 {
  font-size: var(--font-xl);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* TESTIMONIALS */
#testimonials {
  padding: 5rem var(--container);
}

.section__title {
  font-size: var(--font-lg);
  text-align: center;
  color: var(--gray-light);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
}

.card:not(:last-child) {
  margin-bottom: 5rem;
}

.card__avatar {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto;
}

.card__text {
  text-align: center;
  font-size: var(--font-base);
  line-height: 1.8;
  color: var(--gray);
  margin: 2rem 0;
}

.card__client > * {
  display: block;
  text-align: center;
}

.card__name {
  font-family: var(--ff-title);
  font-size: var(--font-lg);
  text-transform: capitalize;
}

.card__role {
  text-transform: capitalize;
  color: var(--gray-light);
}

/* GALLERY */
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery > * {
  flex: 0 0 50%;
}

.gallery__item {
  position: relative;
  min-height: 12rem;
}

/* FOOTER */
.footer {
  padding: 5rem var(--container);
  background-color: var(--green-300);
}

.footer .logo {
  margin-bottom: 2rem;
}

.footer .logo img {
  margin: 0 auto;
  height: 2rem;
  filter: brightness(0) saturate(100%) invert(19%) sepia(11%) saturate(5285%)
    hue-rotate(112deg) brightness(97%) contrast(95%);
}

.footer nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.footer nav li {
  text-transform: capitalize;
  color: var(--green-900);
  font-size: var(--font-lg);
}

.footer .social-media {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

/**
 * LANDSCAPE PHONE - SM (576px)
 */
@media (min-width: 36rem) {
  .desktop-img {
    display: block;
  }

  .mobile-img {
    display: none;
  }

  .gallery__item {
    min-height: 20rem;
  }
}

/**
 * TABLET - MD (768px)
 */
@media (min-width: 48rem) {
  /* BANNER */
  .banner {
    min-height: 100vh;
  }

  .banner__content h1 {
    font-size: var(--font-2xl);
    margin-bottom: 4rem;
  }

  .banner__content img {
    width: 3rem;
  }

  /* ABOUT */
  .feature {
    display: flex;
  }

  .feature:first-child {
    flex-direction: row-reverse;
  }

  .feature > * {
    flex-basis: 50%;
  }

  .feature__content {
    text-align: left;
  }

  /* SERVICES */
  .services {
    display: flex;
  }

  .services > * {
    flex-basis: 50%;
  }

  .service__content {
    top: 65%;
  }

  /* TESTIMONIALS */
  .card {
    max-width: 30rem;
    margin: 0 auto;
  }

  /* GALLERY */
  .gallery__item {
    min-height: 25rem;
  }

  /* FOOTER */
  .footer nav,
  .footer .social-media {
    justify-content: center;
  }

  .footer nav li,
  .footer .social-media a {
    margin: 0 1rem;
  }
}

/**
 * LAPTOP - LG (992px)
 */
@media (min-width: 62rem) {
  /* NAVBAR */
  .navbar .logo img {
    height: 2rem;
  }

  label[for='nav-toggle'] {
    display: none;
  }

  .navbar .nav-menu {
    display: flex;
    align-items: center;
  }

  .navbar .nav-menu li:not(:last-child) {
    margin: 0 2rem 0 0;
  }

  .navbar .nav-menu .cta {
    padding: 1rem 1.5rem;
  }

  /* BANNER */
  .banner__content {
    transform: translateY(-10%);
  }

  /* ABOUT */
  .feature {
    min-height: 80vh;
  }

  .feature__content {
    align-self: center;
  }

  /* SERVICES */
  .service {
    min-height: 40rem;
  }

  .service__content {
    left: 50%;
    transform: translateX(-50%);
    max-width: 20rem;
    padding: 0;
  }

  /* TESTIMONIALS */
  #testimonials {
    padding: 8rem var(--container);
  }

  .cards {
    display: flex;
    justify-content: space-between;
  }

  .cards > * {
    flex-basis: 30%;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    max-width: 20rem;
  }

  .card:not(:last-child) {
    margin: 0;
  }

  /* GALLERY */
  .gallery > * {
    flex-basis: 25%;
  }
}

/**
 * DESKTOP - XL (1280px)
 */
@media (min-width: 80rem) {
  :root {
    --container: 12%;
  }
}
