@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;400;600;800&display=swap');

:root {
  /* FONTS */
  --font-family-body: var(--sans);
  --font-family-title: var(--sans);

  /* FONT SIZES */
  --font-size-nav: var(--font-base);
  --font-size-logo: var(--font-xl);
  --font-size-banner-title: var(--font-display);
  --font-size-banner-text: var(--font-xl);
  --font-size-body: var(--font-base);
  --font-size-section-title: var(--font-2xl);
  --font-size-footer-logo: var(--font-2xl);
  --font-size-footer-copy: var(--font-sm);

  /* THEME */
  --primary: #e1e498;

  --bg-global: var(--primary);
  --color-global: var(--dark);

  --bg-nav: transparent;
  --color-nav: var(--light);

  --bg-banner: url('../images/just-a-chair.jpg'), var(--dark);
  --overlay-banner: rgba(0, 0, 0, 0.2);
  --color-banner: var(--light);

  --bg-section: var(--primary);
  --color-section-title: var(--dark);
  --color-section-text: var(--dark);

  --bg-box: var(--dark);
  --color-box: var(--light);

  --bg-footer: var(--light);
  --color-footer: var(--dark);
}
